<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.WindowsAPICodePack-Core" version="1.1.0.2" targetFramework="net45" />
  <package id="Microsoft.WindowsAPICodePack-Shell" version="1.1.0.0" targetFramework="net45" />
  <package id="NHotkey" version="1.2.1" targetFramework="net45" />
  <package id="NHotkey.WindowsForms" version="1.2.1" targetFramework="net45" />
  <package id="paper-styles" version="1.0.3" targetFramework="net45" />
  <package id="paper-toast" version="1.0.0" targetFramework="net45" />
  <package id="polymer" version="1.0.0" targetFramework="net45" />
  <package id="polymer-iron-a11y-announcer" version="1.0.0" targetFramework="net45" />
  <package id="polymer-iron-flex-layout" version="1.0.1" targetFramework="net45" />
</packages>